
.homepic {
    margin-top: 20px;
    height: 30%;
    width: 30%;
}

.hometext {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

.contain {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}

.GitFitPic {
    height: 400px;
    width: 600px;
}

.GitFittext {
    font-size: 30px;
    margin-top: 20px;
}

.UnblockUnwindPic {
    height: 100%;
    width: 100%;
}

.UnblockUnwindtext {
    font-size: 30px;
    margin-top: 20px;
}

.Cards {    
    grid-column: auto;

}

.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #7fffd4;
}

.marginbtm {
    margin-bottom: 25px;
}

.nav {
    background-color: aquamarine;
}

.projecttext {
    font-size: 20px;
    font-weight: bold;
}

.abouttext {
    font-size: 25px;
    font-weight: bold;
}

.backgroundimg {
    background-image: url(../../images/forest.jpg);
}

html, body, #root, .App {
    height: 100%;
  }